.ez-tabs {

  .tab-content {
    padding: 10px;
    min-height: 150px;
  }

  &.tabs-left, &.tabs-right {
    position: relative;

    .nav-tabs {
      width: 120px;
      position: absolute;
      top: 0;
      border: none;

      li {
        display: block;
        width: 100%;

        a {
          width: 100%;
        }

        &.active a {
          border-bottom-color: #ddd;
        }
      }

    }
  }

  &.tabs-left {
    .nav-tabs {
      left: 0;
    }

    .tab-content {
      margin-left: 119px;
      border-left: 1px solid #ddd;
    }

    li {
      a {
        border-radius: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.active a {
        border-right-color: #fff;
      }
    }
  }

  &.tabs-right {
    .nav-tabs {
      right: 0;
    }

    .tab-content {
      margin-right: 119px;
      border-right: 1px solid #ddd;
    }

    li {
      a {
        border-radius: 0px;
        border-top-right: 4px;
        border-bottom-right: 4px;
      }

      &.active a {
        border-left-color: #fff;
      }
    }

  }
}
